<ion-content class="ion-padding">
  <h1><b>Result</b></h1>
  <p>Your score: {{score}}/5</p>
  <p>Your rank: {{rank}}</p>
  <img *ngIf=imgPath src={{imgPath}}>
  <br>
  <ion-button color="success" routerLink="/answers">Answers</ion-button>
</ion-content>
