<ion-content class="ion-padding">
  <h1><b>Correct Answers</b></h1>
  <div *ngFor="let question of questions; let i = index">
    <h4>{{question.question}}</h4>
    <p><b>Your answer:</b> <span [ngStyle]="{'color': answers[i] === question.correctOption ? 'green' : 'red'}"> {{answers[i]}}</span></p>
    <p><b>Correct answer:</b> {{question.correctOption}}</p>
    <p>{{question.explanation}}</p>
  </div>
  <ion-button color="success" routerLink="/home">Home</ion-button>
</ion-content>
