<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Weight</ion-label>
      <ion-input type="number" [(ngModel)]="weight"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Gender</ion-label>
      <ion-select [(ngModel)]="gender">
        <ion-select-option *ngFor="let value of genders">{{value}}</ion-select-option>
      </ion-select>  
    </ion-item>
    <ion-item>
      <ion-label>Hours</ion-label>
      <ion-select [(ngModel)]="time">
        <ion-select-option *ngFor="let value of hours">{{value}}</ion-select-option>
      </ion-select>  
    </ion-item>
    <ion-item>
      <ion-label>Bottles</ion-label>
      <ion-select [(ngModel)]="bottle">
        <ion-select-option *ngFor="let value of bottles">{{value}}</ion-select-option>
      </ion-select>  
    </ion-item>
    <ion-item>
      <ion-label>Promilles</ion-label>
      <ion-input readonly value="{{ promilles | number : '1.2-2' }}"></ion-input>
    </ion-item>        
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
  </div>
</ion-content>
