<ion-header>
  <ion-toolbar>
    <ion-title>
      Mp3 Hard Drive Space Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-label>Total Space (MB)</ion-label>
      <ion-input type="number" required [(ngModel)]="totalSpace" name="totalSpace"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Used Space (MB)</ion-label>
      <ion-input type="number" required [(ngModel)]="usedSpace" name="usedSpace"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Number of Tracks</ion-label>
      <ion-input type="number" required [(ngModel)]="tracks" name="tracks"></ion-input>
    </ion-item>        
  </ion-list>
  <div class="ion-padding">
    <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
  </div>
  <ion-list>
    <ion-item>Remaining Space: {{remainingSpace}} MB</ion-item>
    <ion-item>Average Size of Single Track: {{averageTrack | number:'1.2-2'}} MB</ion-item>
    <ion-item>Number of Tracks Left: {{remainingTracks}}</ion-item>          
  </ion-list>
</ion-content>
