<ion-content class="ion-padding">
  <h1>Movie Quotes</h1>
  <h3>Your time was {{durationSeconds}} seconds</h3>
  <p>Tap the projector to try again</p>
  <img src="../../assets/images/projector.png" (click)="goHome()" tappable/>
</ion-content>