<ion-content class="ion-padding">
  <p class="title">Movie Quotes</p>
  <p class="question">Quote {{questionCounter}}/{{questions.length}}: What is the movie of this famous quote?</p>
  <p class="quote">
    <ion-icon class="icon" name="text"></ion-icon>"{{activeQuestion.quote}}" 
  </p> 
  <ion-list>
    <ion-radio-group>
      <ion-item *ngFor="let option of activeQuestion.options; let i=index">
        <ion-label class="option">{{option}}</ion-label>
        <ion-radio *ngIf=!isCorrect (ionSelect)="checkOption(i, activeQuestion)"></ion-radio> 
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <p>{{feedback}}</p>
  <img *ngIf=isCorrect src="../../assets/images/projector.png" (click)="setQuestion()" tappable/>
</ion-content>
