<ion-content class="ion-padding">
  <p>Question {{questionCounter}}/{{allQuestions?.length}}</p>
  <p>{{currentQuestion?.question}}</p>
  <ion-list>
    <ion-radio-group>
      <ion-item *ngFor="let option of currentQuestion?.options">
        <ion-label>{{option}}</ion-label>
        <ion-radio (ionSelect)="handleAnswer(option, currentQuestion)"></ion-radio>
      </ion-item>
    </ion-radio-group>  
  </ion-list>
  <p>Time to answer:<span [ngStyle]="{'color': time < 5 ? 'red' : 'black'}"> {{time}}</span></p>
</ion-content>
