<ion-content class="ion-padding">
  <h1><b>The British Monarchy Quiz</b></h1>
  <p>This quiz will ask 5 questions about the British Monarchy.</p>
  <ion-button color="success" routerLink="/question">Start Quiz</ion-button>
</ion-content>
